#   Ignore model restore session file
*.ckpt
*.data-*
*.meta*
*.index
checkpoint

#   Ignore Python Precompiled Files
*.pyc


#   Ignore tensorflow event output
*.tfevents*

#   Ignore gzip files
*.gz

#   Ignore numpy binary files
*.npy

#   Ignore data folder
samples/*data
NIST_DATA/
